// Fuentes
$fuente-principal: 'Alata', sans-serif;
$fuente-secundaria: 'Josefin Sans', sans-serif;

// Colores
$white: hsl(0deg 0% 100%);
$black: hsl(0deg 0% 0%);
$grey-200: hsl(0deg 0% 85%);

// Weight
$w-s: 300;
$w-m: 400;

// Tamaños de fuente
$f-s: 1.5rem;
$f-l: 3rem;
