@use 'variables';
@use 'mixins' as *;
@use 'header';
@use 'about';
@use 'creations';
@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


body{
    position: relative;
}

p{
    font-family: variables.$fuente-principal;
}

h1,h2,h3{
    font-family: variables.$fuente-secundaria;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}